*{

    /* outline: 3px solid firebrick; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

header,
.main-content-container{
    gap: 30px;
    
}

h1,
.texts-and-buttons-container{
    width: 450px;
    padding: 10px;
}

header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #F9FAF8; 
    flex-wrap: wrap;

}

ul{

    padding: 10px;
    display: flex;
    gap: 30px;
    width: 550px;
    justify-content: end;
 
}


a{

    font-family: "Hero Secondary text", sans-serif;
    font-size: 18px;
    color:  #E5E7EB;  
}

img { 
    
    width: 100%;
    height: 100%;
}


.main-content-container{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 450px;
}

.texts-and-buttons-container{
    height: 250px;

}
h2{

    font-family: "Hero Main text", sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
} 

p{
    font-family: "Hero Secondary text", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    
}

.image-container{
    
    padding: 10px;
    width: 550px;
    height: 250px;

}

